@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../../dest/assets/img/bg_header.png);
  background-repeat: no-repeat;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-bottom: 400px;
  position: relative;
}

.header .heading-box {
  z-index: 2;
  order: 3;
  margin: 200px auto 0 auto;
  text-align: center;
}

.header .heading-box .heading-box__heading {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
}

.header .heading-box .heading-box__heading .red-text {
  color: #F66;
}

.header .heading-box .heading-box__paragraph {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 600;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.nav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  order: 2;
  z-index: 2;
  padding-left: 25%;
}

.nav .nav__list {
  display: flex;
}

.nav .nav__list .nav__element {
  color: #fff;
  padding: 30px;
  list-style-type: none;
}

.nav .nav__list .nav__element .nav__link {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.logo {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 25%;
}

.logo .logo__image {
  padding: 30px;
  width: inherit;
  height: 60px;
}

.logo .logo__text {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.button {
  margin-top: 50px;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  text-transform: uppercase;
}

.button--yellow {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f3d162;
  font-weight: 700;
  font-size: 14px;
}

h1 {
  margin: 0;
}
