    .discover__section { 
        display:flex;
        justify-content: flex-start;
        position: absolute; 
        z-index: 2;
        min-width: 400px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 100%;


        &:before {
            position: relative;
        }
         
        h5 {
             text-align: center;
             color: $white;
             font-size: 18px;
             font-weight: 500;
             margin:30px;
         }

        .discover-gallery--content {
            display: flex;
            justify-content: space-between;



            

            .discover-gallery--element {    
                text-align: center;
                max-width: 100%;
                height: 100%;
                z-index: 1;
                position: relative;
                

                .sample-class {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    z-index: 2;

                    .discover-gallery--heading {
                        color: $white;
                        font-size: 1.7rem;
                        margin-bottom: 10px;
                    }
                    .discover-gallery--paragraph { 
                        color: $white;
                        font-weight: 500;
                    }
                    .discover-gallery--button { 
                        margin-top: 80px;
                        max-width: 250px;
                        width: 60%;
                    }
                }
                .discover-gallery--image {
                    position: relative;
                    max-width: 100%;
                }
                // .discover-gallery--heading {
                //     position: absolute;
                //     top: 0;
                //     left: 0;


                //     color: $white;
                //     font-size: 40px;
                // }
                // .discover-gallery--paragraph { 
                //     color: $white;
                //     font-weight: 500;
                // }
                // .discover-gallery--button { 
                // }
                // .discover-gallery--image {
                //     position: relative;
                // }
            }
            .discover-gallery--element:nth-of-type(4n+1) {
                .discover-gallery--heading {
                    display: none;
                }
                .discover-gallery--paragraph {
                    display: none;
                }
            }
            .discover-gallery--element:nth-of-type(2n+0) {
                .sample-class {
                    z-index: 2;
                    top: 70%;
                    .discover-gallery--heading {
                        font-size: 30px;
                    }
                    .discover-gallery--paragraph {
                        font-weight: 500;
                        color:hsl(46, 86%, 67%);
    
                    }
                }
            }
        }
    }
.discover__section::after {
    content: " ";
    position: relative;
}