    .discover__section { 
        display:flex;
        justify-content: flex-start;
        position: absolute; 
        z-index: 3;
        top: 55em; 
        flex-direction: column;
         h5 {
             text-align: center;
             color: $white;
             font-weight: 700;
             padding: 40px;
         }

        .discover-gallery--content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .discover-gallery--element {
                position: relative;
                padding: 10px;

                .discover-gallery--heading {
                    position: absolute;
                    left: 50%;
                    margin: 180px 0;
                    transform: translate(-50%); 
                    color: $white;
                    font-size: 40px;
                }
                .discover-gallery--paragraph {
                    position: absolute;
                    left: 50%;  
                    margin: 250px 0;
                    transform: translate(-50%); 
                    color: $white;
                    font-weight: 500;
                }
                .discover-gallery--button {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%); 
                    margin: 340px 0;
                }
            }
            .discover-gallery--element:nth-of-type(4n+1) {
                .discover-gallery--heading {
                    display: none;
                }
                .discover-gallery--paragraph {
                    display: none;
                }
            }
            .discover-gallery--element:nth-of-type(2n+0) {
                .discover-gallery--heading {
                    font-size: 30px;
                    margin: 300px 0;
                }
                .discover-gallery--paragraph {
                    font-weight: 500;
                    margin: 350px 0;
                    color:hsl(46, 86%, 67%);

                }
            }
        }
    }
.discover__section::after {
    content: " ";
    position: relative;
}