.footer__section {
    padding: 10em;
    margin: 0 auto;
    
    .footer__logo {
        width: 51px;
        margin: 0 auto;
        text-align: center;
    }
    .footer__heading {
        text-align: center;
    }
}