.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../../dest/assets/img/bg_header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    height: 130vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    justify-content: space-between;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
    }

    .heading-box {
        z-index: 2;
        order: 3;
        margin: 30px auto 50px auto;
        text-align: center;
        width: 100%;

        &:first-of-type {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            width: 90%;
        }

        &:last-of-type {
            margin-bottom: 22%;
        }
        
        .heading-box__heading {
            color: #fff;
            font-size: 5em;
            font-weight: bolder;
            
            .red-text {
                color: #F66;
            }
        }
        .heading-box__paragraph {
            color: rgba(255,255,255,0.4);
            font-size: 16px;
            font-weight: 600;
        }
        .heading-box__button {
            
        }
    }
}