.nav {
    align-content: flex-end;
    display: flex;
    align-items: center;
    order: 2;
    z-index: 2;
    .nav__list {
        display: flex;

        .nav__element {
            color: #fff;
            padding: 30px;
            list-style-type: none;
            .nav__link {
                text-align: center;
                text-decoration: none;
                color: $white;
                font-weight: 500;

                .nav__search-icon {
                    
                    margin-left: 13px;
                    display: inline-flex;
                    width: 24px;
                    height: 24px;
                    background: url(../assets/img/search-icon.svg) no-repeat ;
                    
                }
            }
        }
    }
    .nav__mobile-hamburger {
        border:none;
        background-color: transparent;
        display: none;
        .nav__mobile-hamburger-line {
            background: #fff;
            margin: 7px 0;
            width: 50px;
            height: 5px;
        }
    }
}